@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url("/public/assets/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
